<h2 style="text-align: center;">Productos</h2>
<div class="list-products">
    {% if cant > 0%}
        {%for producto in productos%}
        <figure class="imgs-tp">
            <img src="{{url_for('static', filename='images/pregunta.jpg')}}" alt="{{producto.nombre}}">
            <h3>{{producto.nombre}}</h3>
            <p>{{producto.descripcion}}</p>
            <div>
                <span>Precio: {{producto.precio}}</span>        
            </div>
            <div class="list-p-cant">
                <label for="">cantidad desea:</label>
                <input type="number" id="catidad_id{{producto.id}}" required>
                <input type="button" value="Agregar" onclick="agregar_carrito('{{producto.id}}','{{producto.nombre}}','{{producto.precio}}')">
            </div>
        </figure>
        {%endfor%}
    {%else%}
        <p>No hay productos disponibles</p>
    {%endif%}
</div>
<table id="carrito-table" border="1">
    <thead>
        <tr>
            <td>Producto</td>
            <td>Cantidad</td>
            <td>Precio</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody id="carrito-table-tbody">

    </tbody>
    <tfoot id="carrito-table-tfoot">

    </tfoot>
</table>
<input type="button" value="Solicitar" onclick="insertar_solicitud()">